@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBF6E9;
  color: #1F2937;
}

code {
  font-family: 'VT323', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  :root {
    --background: 45 60% 95%;
    --foreground: 20 30% 11%;
    --card: 45 60% 95%;
    --card-foreground: 20 30% 11%;
    --popover: 45 60% 95%;
    --popover-foreground: 20 30% 11%;
    --primary: 23 41% 32%;
    --primary-foreground: 45 60% 95%;
    --secondary: 23 41% 32%;
    --secondary-foreground: 45 60% 95%;
    --muted: 0 43% 87%;
    --muted-foreground: 24 32% 45%;
    --accent: 10 69% 49%;
    --accent-foreground: 45 60% 95%;
    --destructive: 1 76% 41%;
    --destructive-foreground: 45 60% 95%;
    --border: 20 30% 11%;
    --input: 0 43% 87%;
    --ring: 23 41% 32%;
    --radius: 0rem;
  }
}

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground; }
}
